<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.together">
    <!-- 맵 이용하기 위함 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 다음 지도 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 대략적인 위치 참조 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 정확한 위치 참조 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.PetHotel.totalreviewActivity"></activity>
        <activity android:name=".Activities.GoodbyePet.GoodbyepetReservationResultActivity"></activity>
        <activity android:name=".Activities.GoodbyePet.GoodbyePetStoreListActivity" />
        <activity android:name=".Activities.GoodbyePet.GoodbyePetTimeDateSelectActivity" />
        <activity android:name=".Activities.GoodbyePet.GoodbyepetMenuSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GoodbyePet.GoodbyeHowActivity" />
        <activity android:name=".Activities.GoodbyePet.GoodbyeRainbowActivity" />
        <activity android:name=".Activities.GoodbyePet.GoodbyeSelectActivity" />
        <activity android:name=".Activities.PetHotel.reViewActivity" />
        <activity android:name=".Activities.PetHotel.ProductOrderActivity" />
        <activity android:name=".Activities.GoodbyePet.GoodbyeMemorialActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2_TIxJ1iVZZC5fQPZvFHFoWQrxRGwBmo" />

        <activity android:name=".Activities.Map.MapTestActivity" />
        <activity android:name=".Activities.Map.Map1" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Activities.MyPetInfo.MyPetRegActivity" />
        <activity android:name=".Activities.MyPetInfo.MyPetListActivity" />
        <activity android:name=".Activities.Petching.MatchesActivity" />
        <activity android:name=".Activities.Petching.SettingsActivity" />
        <activity android:name=".Activities.Map.HotelMapActivity" />
        <activity android:name=".Activities.GoodbyePet.GoodbyePetActivity" />
        <activity android:name=".Activities.PetHospital.PetHospitalActivity" />
        <activity android:name=".Activities.PetGroup.PetGroupActivity" />
        <activity android:name=".Activities.Petching.PetchingActivity" />
        <activity android:name=".Activities.PetHotel.PetHotelActivity" />
        <activity android:name=".Activities.PetHotel.HotelListDataActivity" />
        <activity android:name=".Activities.PetHotel.HotelDetailActivity" />
        <activity android:name=".Activities.Chat.MessageActivity" />
        <activity android:name=".Activities.Chat.ChatsActivity" />
        <activity android:name=".Activities.OptionActivity" />
        <activity android:name=".Activities.FollowersActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.CommentsActivity" />
        <activity android:name=".Activities.LoginActivity">

        </activity>
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.PostActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>